.mainContainer {
    display: flex;
    font-size: 1.6rem;
    width: 100vw;
    justify-content: center;
}

.inputSection {
    box-shadow: 3px 3px 6px -1px rgba(43,43,43,0.9);
    max-width: 500px;
    margin: 20px;
    border-radius: 5px;
}

.inputHead {
    background-color: lightgray;
    padding: 10px;
}

/* Input */

.inputContainer {
    display: flex;
    height: 30px;
    border: 1px solid lightgray;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input {
    width: 200px;
}

.form {
    border: 0;
    outline: none;
    cursor: text;
    border: 1px solid lightgray;
}