.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.heading {
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding: 10px;
}

.title, .button {
    margin: 20px
}

.button {
    border-radius: 5px;
    padding: 5px;
    background-color: #044cd0;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    margin: 10px 0;
}


.tableHead {
    text-align: center;
    font-size: 1.6rem;
}

.tableBody {
    display: flex;
    justify-content: center;
}

.tableData {
    font-size: 1.6rem;
    padding: 10px;
    text-align: center;
}