html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

:root {
    --primary-color: white;
    --secondary-color: #010402;
    --accent-color: #cc3da4;
}

body {
    margin: 0;
}

.navBar {
    background-color: var(--primary-color);
}